body{
    overflow-x: hidden;
    font-family: OpenSans-Regular;
}
#advertisement {
  width: 50%;
  margin: auto;
}
#advertisement p{
    font-size: 11px;
    color: #323232;
    /* line-height: 16px; */
    text-align: center;
    text-transform: uppercase;
    font: 400 15px/20px "OpenSans-Regular";
    margin-bottom: 0px;
}
#top_section{
 width: 80%;
 height:auto;
 margin: auto;

}
#title
{
    position: relative;
    color: #595959;
    font-size: 18px;
    font-family: OpenSans-Regular;
    display: inline-block;
    vertical-align: top;
    margin-top: 30px;
    
}
#title span a{
    text-decoration: none;
    color: #595959
}
#flex{
    display: grid;
    grid-template-columns: 65% 35%;
    grid-gap: 10px;
   
    
}

  
   

.header{
    border-top: 2px solid #ddd;
    border-bottom: 2px solid #ddd;
    font-size: 2rem;
    font-weight: 400;
    font-family: Merriweather-Bold;
    line-height: 46px
}
.grid{
    display: grid;
    grid-template-columns: 30% 69%;
    grid-gap: 10px;
}
.image
{
    height: 150px;
    width: 90%;
}
.h2{
    font-weight: bolder;
    font-size: 22px;
    font-family: Merriweather-Bold;
    line-height: 26px
}
.des{
   
    margin-top: -15px;
    font-family: Merriweather-Bold;
    line-height: 26px;
    font-size: 18px;
}
#adver{
   border:  2px solid #ddd;
}
#adver1{
    width: 100%;
    height: 350px;
    margin: auto;
    background-color: #f2f2f2;
    text-align: center;
    display: inline-block;
     align-items: center;
    border-bottom: 1px solid #ddd;
   padding-bottom: -30px;
}
#adver1 img{
    /* margin-top: 0px;
    width: 70%;
    margin-top: -15px;
   margin-bottom: 0px; */
   width: 310px;
   height: 260px;
   margin: auto;
}
#adver1 p{
    font-size: 11px;
    color: #323232;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    font: 400 15px/20px "OpenSans-Regular";
     
}
.read{
    display: inline-block;
    padding: 30px;
margin-top: 0px;
}
.read span{
  font-size: 20px;
    font-weight: 700;
color: #bb0a0a;
font-family: "OpenSans-Bold";

}
.read div{
   
}
li{
    padding: 10px 24px 10px 30px;
    list-style-type: none;
    display: inline-block;
}
li p{
    display: block;
overflow: hidden;
word-wrap: break-word;
font-size: 15px;
font-size: .9375rem;
line-height: 20px;
color: #111;
font-family: "OpenSans-Semibold";
}
.cont1{
    width: 65% ;
    margin-top: 20px;
   
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 15px;
    border-bottom: 2px solid #ddd;
   
   
   
}
.cont1 div{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-bottom: 10px;
}
.cont1 h4{
    color: gray;
}
.iframe{
    width: 100%;
    height: 250px;
}
.cont2{
    width: 65% ;
    margin-top: 20px;
   text-align: center;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 15px;
    border-bottom: 2px solid #ddd;
   
}
.cont2 p,.cont3 p{
    color: gray;
}
.img2{
    width: 100%;
    height: 250px;
}
.cont2 .h2,.cont3 .h2{
    font-size: 15px;
}
.cont3{
    width: 65% ;
    margin-top: 20px;
   text-align: center;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 15px;
    border-bottom: 2px solid #ddd;
   
}
.img3{
    width: 100%;
    height: 140px;
}