#main{
    width: 75%;
    margin: auto;
    display: flex;
    margin-top: 50px;
}
#video_detailsss{
    flex: 4;
   
}
#video_details{
    height: 500px;
}
#recommendation{
    flex: 2;
}
#showvideos{
    display: flex;
    font-weight: bolder;
    color: rgb(133, 9, 9);
    font-size: 20px;
}
#line1{
    width: 80%;
    border: 3px solid rgb(204, 204, 204);
    height: 0%;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
}

#container{
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
   
}
#container>div>img{
    width: 100%;
}
#container>div>p{
    font-weight: bold;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}

#recommendation>div{
    display: flex;
    margin-top: 10px;
    
}
#recommendation{
    margin-left: 10px;
    border: 1px solid rgb(204, 204, 204);
}
#recommendation>div>img{
  width: 50%;
  height: 50%;
}


#cvbnm{
    width: 90%;
    background: #f5f5f5;
    margin-left: 20px;
    height: 40px;
 
}
#cvbnm>p{
   text-align: center;
}

#jkdffg{
    border: 1px solid rgb(204, 204, 204);
}

#textcenter{
    font-size: 50px;
}

#hdfkfalj{
    font-size: 22px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
#recommendation>div>p{
    font-weight: bold;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}
